<!DOCTYPE html>
<html>
<head>
    <title>PrivateConnect - Sign Up</title>
</head>

<body>
    <h1>Create Your Account</h1>

    <form action="/signup" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter your name">
        <br><br>

        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter your email">
        <br><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Create password">
        <br><br>

        <button type="submit">Sign Up</button>
    </form>

    <p>
        Already have an account?
        <a href="/login">Login</a>
    </p>

</body>
</html>